<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301274263499-6v3b9ka81ok7ih3e7erkeln3an5om8q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301274263499-6v3b9ka81ok7ih3e7erkeln3an5om8q6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>301274263499-r504fq4n88kmfj0lfqihtgca2gns1rcv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDmXY1OUSulOs48Qpn91PcWPqXjnMNBDU</string>
	<key>GCM_SENDER_ID</key>
	<string>301274263499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miraclemoney</string>
	<key>PROJECT_ID</key>
	<string>miraclemoney-9924c</string>
	<key>STORAGE_BUCKET</key>
	<string>miraclemoney-9924c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301274263499:ios:463a9609e5a84234d8904e</string>
</dict>
</plist>