<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301274263499-5de19tnn2n5eq0hbnrc2vbtm87as229t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301274263499-5de19tnn2n5eq0hbnrc2vbtm87as229t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>301274263499-7fhlaf55pts0ji2m9k40vm9v5p60h11n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDmXY1OUSulOs48Qpn91PcWPqXjnMNBDU</string>
	<key>GCM_SENDER_ID</key>
	<string>301274263499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miraclemoney.app</string>
	<key>PROJECT_ID</key>
	<string>miraclemoney-9924c</string>
	<key>STORAGE_BUCKET</key>
	<string>miraclemoney-9924c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301274263499:ios:65fac2ac2ebad630d8904e</string>
</dict>
</plist>